@charset "UTF-8";
﻿ html,
body {
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}

.form-container {
  position: absolute;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  width: 100%;
}
.form-container .form-sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  position: relative;
  background-color: #f8f9fa;
}
.form-container form {
  width: 100%;
}

.storage-container {
  background-image: url(https://i.ibb.co/8KM20pL/inventario-3.jpg);
}

.edit-product-container, .delete-product-container {
  background-image: url(https://i.ibb.co/60m9W79/img-Inventario.jpg);
}

.transaction-container {
  background-image: url(https://i.ibb.co/dt8GV7v/inventario-4.jpg);
}

.buttons-transaction-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
