@import 'main';
﻿
html, body {
    overflow: hidden;
    margin: 0;
    height: 100%;
}


.parent-home-container {
    height: 100vh;
    width: 100vw;
    .main-container {
        @include displayFlexbox();

        div {
            h4 {
                color: $main-grey;
            }

            div {
                @include displayFlexbox($justify-content: left);

                button {
                    width: 400px;
                    height: 50px;
                    a {
                        @include displayTags();
                    }
                }
            }
        }
    }
    .img {
        border-radius: 50%;
        opacity: 0.8;
        padding-bottom: 100px;
    }
}




