
@mixin displayFlex($justify-content: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
}
﻿
html, body {
    overflow: hidden;
    margin: 0;
    height: 100%;
}

.container-fluid {
    height: 100%;
    box-sizing: border-box;
}

.main-row-home {
    height: 100vh;
    width: 100vw;

    .home-main-container {
        @include displayFlex();

        div {
            h4 {
                color: #8a8e96;
                margin: 0px;
            }

            div {
                @include displayFlex($justify-content: left);
                margin: 50px;

                button {
                    width: 400px;
                    height: 50px;

                    a {
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .min-container-button{
        margin: 20px 0px !important;
    } 
    .home-image {
        border-radius: 50%;
        opacity: 0.8;
        padding-bottom: 100px;
    }
}




