@import 'main';

.parent-home-container {
    @include displayWithHeightSettings($height: 100vh, $width: 100vw);

    .main-container {
        @include displayFlexbox();

        .title-home-container {
            @include displayFlexbox($justify-content: initial);
        }

        label, h3 {
            font-size: 25px;
            font-weight: bold;
            color: $main-green;
        }

        h4 {
            color: $main-grey;
        }

        .button-container {
            a {
                @include displayTags();
                @include displayWithHeightSettings($height: 100%, $width: 80%);
            }
        }

        p {
            color: $main-grey;
            font-size: 18px;
            font-weight: bold;
        }
    }

    .image-container {
        @include displayFlexbox();

        img {
            @include displayWithHeightSettings($height: 100vh, $width: 100%);
            filter: grayscale(100%);
            padding-bottom: 120px;
            padding-top: 50px;
            border-radius: 100%;
            opacity: 0.8;
        }
    }
}
