@charset "UTF-8";
﻿ html,
body {
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}

.parent-home-container {
  height: 100vh;
  width: 100vw;
}
.parent-home-container .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent-home-container .main-container .title-home-container {
  display: flex;
  justify-content: initial;
  align-items: center;
}
.parent-home-container .main-container label, .parent-home-container .main-container h3 {
  font-size: 25px;
  font-weight: bold;
  color: #349977;
}
.parent-home-container .main-container h4 {
  color: #8a8e96;
}
.parent-home-container .main-container .button-container a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  height: 100%;
  width: 80%;
}
.parent-home-container .main-container p {
  color: #8a8e96;
  font-size: 18px;
  font-weight: bold;
}
.parent-home-container .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent-home-container .image-container img {
  height: 100vh;
  width: 100%;
  filter: grayscale(100%);
  padding-bottom: 120px;
  padding-top: 50px;
  border-radius: 100%;
  opacity: 0.8;
}
