@charset "UTF-8";
﻿ html,
body {
  overflow: hidden;
  margin: 0;
  height: 100%;
}

.container-fluid {
  height: 100%;
  box-sizing: border-box;
}

.main-row-home {
  height: 100vh;
  width: 100vw;
}
.main-row-home .home-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-row-home .home-main-container div h4 {
  color: #8a8e96;
  margin: 0px;
}
.main-row-home .home-main-container div div {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 50px;
}
.main-row-home .home-main-container div div button {
  width: 400px;
  height: 50px;
}
.main-row-home .home-main-container div div button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.main-row-home .min-container-button {
  margin: 20px 0px !important;
}
.main-row-home .home-image {
  border-radius: 50%;
  opacity: 0.8;
  padding-bottom: 100px;
}
