@charset "UTF-8";
﻿ html,
body {
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}

.container-fluid .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid .login-container .title-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid .login-container .form-main-container {
  padding-right: 150px;
}
.container-fluid .login-container button {
  height: auto;
  width: 100%;
}
.container-fluid img {
  height: 100vh;
  width: 100%;
  opacity: 0.8;
}
