//Colors
$main-black: #193B39;
$main-blue: #68D4F2;
$main-green: #349977;
$secondary-green: #6DFCA4;
$tertiary-green: #68F276;
$main-grey: #8a8e96;
﻿
html, body {
    overflow-x: hidden;
    margin: 0;
    height: 100%;
}

//Clase principal para el display flex para centrar contenedores.
//Mixin para centrar clases main-container
@mixin displayFlexbox($justify-content: center, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

//Mixin para dar estilos a todas las anclas o tags de html
@mixin displayTags() {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

//Mixin para el ancho y alto de los componentes
@mixin displayWithHeightSettings($height: auto, $width: auto) {
    height: $height;
    width: $width;
}

//Mixion for show template into forms
@mixin buildTemplateForms() {
    position: absolute;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    width: 100%;
}