//Colors
$main-black: #193B39;
$main-green: #349977;
$main-grey: #8a8e96;
﻿
html, body {
}

@mixin displayFlexbox($justify-content: center, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin displayTags() {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

//Mixin para el ancho y alto de los componentes
@mixin displayWithHeightSettings($height: auto, $width: auto) {
    height: $height;
    width: $width;
}

//Mixion for show template into forms
@mixin buildTemplateForms() {
    position: absolute;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    width: 100%;
}