//Colors
$main-black: #193B39;
$main-blue: #68D4F2;
$main-green: #6EE6BE;
$secondary-green: #6DFCA4;
$tertiary-green: #68F276;

.navbar-nav
{
    li
        {
        a
            {
            color: $main-black !important;
        }
    }
}

svg {
    margin: 0px 20px;
    color: $main-green;
}

.button-redirect-login{
    margin: 0px 10px;
    a{
        color: white;
        text-decoration: none;
    }
}
