@charset "UTF-8";
﻿ html,
body {
  overflow: hidden;
  margin: 0;
  height: 100%;
}

.navbar-main-container {
  padding: 0px 48px !important;
}
.navbar-main-container svg {
  color: #349977;
}
.navbar-main-container .navbar-brand {
  font-weight: bold;
  color: #193B39;
}
.navbar-main-container .navbar-nav li a {
  color: #193B39;
}

.button-nav-container a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
