@import 'main';

.container-fluid {
    .list-products-sub-container {
        margin-left: 40px;
        margin-right: 8px;

        h1 {
            color: $main-green;
        }
        .list-products-selected-categories-container {
            @include displayFlexbox($justify-content: init, $align-items: init);

            .list-products-selected-categories-subcontainer {
                @include displayFlexbox();
                width: 50%;
            }
        }
    }
}

.delete-product-warning {
    font-size: 18px;
    color: red;
    font-weight: bold;
}
