@charset "UTF-8";
﻿ html,
body {
  overflow: hidden;
  margin: 0;
  height: 100%;
}

.container-fluid .list-products-sub-container {
  margin-left: 40px;
  margin-right: 8px;
}
.container-fluid .list-products-sub-container h1 {
  color: #349977;
}
.container-fluid .list-products-sub-container .informative-alert-container {
  height: auto;
  width: auto;
}
