.form-registry-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 500px;
}
.form-registry-container .form-registry-subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-registry-container .row {
  background-color: white;
  margin-top: 80px;
}
.form-registry-container p {
  color: #8a8e96;
  margin: 0px;
}
.form-registry-container .password-restriccions-container {
  color: #8a8e96;
}
.form-registry-container button {
  width: 60%;
}
