<h3>Este es el padre</h3>

<p>
    @privateMessage
</p>

<!--

<LoginComponent Test="CambiarPadre"></LoginComponent>
-->


@code {

    [CascadingParameter]
    protected string privateMessage { get; set; }

    public string Message { get; set; } = "Este es el mensaje del padre";

    public void CambiarPadre(string message)
    {
        Message = message;
    }
}
