@using InventoryManager.Application.Services
@using InventoryManager.Domain.Entities

<div class="main-container-form-create">
    <EditForm Model="_category">
        <div class="form-group">
            <label>Reference:</label>
            <InputNumber @bind-Value="_category.Id" class="form-control"></InputNumber>
        </div>
        <div class="form-group">
            <label>Category Name:</label>
            <InputText @bind-Value="_category.Name" class="form-control"></InputText>
        </div>
        <button type="button" class="btn btn-success button-save" @onclick="SaveCategory">Add Category</button>
    </EditForm>
</div>

@inject CategoryService CategoryService;
@code {

    private Category _category = new();

    private async void SaveCategory()
    {
        await CategoryService.CreateItem(_category);
    }
}