@using InventoryManager.Application.Services
@using InventoryManager.Domain.Entities
<div class="container">
    <div class="row">

        @foreach (var category in _categories)
        {
            <div class="col-6 container-cards">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@category.Name</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@inject CategoryService CategoryService;

@code {
    private List<Category> _categories = new();

    protected override async Task OnInitializedAsync()
    {
        //Se traen categorias
        _categories = await CategoryService.ItemList();
    }

}