@using InventoryManager.Views.Authentication;
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
<PageTitle>InventoryManager.Views</PageTitle>


<div class="page">
    <main>
        <div>
            <NavMenu></NavMenu>
        </div>
            @Body
        <FooterComponent></FooterComponent>
    </main>
</div>
