<div class="container-fluid">
    <div class="row parent-home-container">
        <div class="col-5 main-titles-1 main-container">
            <div class="row">
                    <AuthorizeView>
                        <Authorized>
                            <h1>Hello, @context.User!.Identity!.Name!</h1>
                        </Authorized>
                        <NotAuthorized>
                            <h1>Welcome to 
                                <br />
                                Clover Inventory</h1>
                        </NotAuthorized>
                    </AuthorizeView>
                <h4 class="m-0">
                    A modern warehouse 
                    management tool
                </h4>
                <div class="min-container-button m-5">
                    <a href="product" class="button btn btn-success button-explore-products">
                        Explore products
                    </a>
                </div>
            </div>
        </div>
        <div class="col-7">
            <img src="https://i.ibb.co/RhXtNGn/business-Model.jpg" alt="business-Model" class="home-image">
        </div>
    </div>
</div>
